li, a, button{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 2px solid;
  border-bottom-color: #0088a9;
  box-shadow: 0px 15px 200px -20px #8697E0;}

.logo {
  cursor: pointer;
}

.nav_links{
  list-style: none;
  padding-top: 15px;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: #0088a9;
}

img {
  width:auto;
  height:50px;
  padding: 0;
}
