

.roomCardContainer{
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.topPart{
  display: flex;
  flex-direction: row;
  background-color: #484a56;
  color: white;
}

.center{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  padding-top: 45px;

}

img {
  width: 200px;
  height: 200px;
}

.bottomPart{
  display: flex;
  justify-content: flex-end;

  gap: 50px;
  padding-right: 50px;
  padding-top: 10px;
  height: 35px;
  color: #484a56;
}
.bottomPart div{
  color: #484a56;
}
.bottomPart button{
  color: #484a56;

}

#reserveButton:hover {
  background-color: #808083;
  cursor: pointer;
  color: rgb(255, 254, 254);
}

.hotelImg{
  overflow: hidden;
  position: center;
  width: 100%;
  height: 100%;
  top: -150px;
  left: -100px;
}

.imageContainer{
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
  height: 800px;
  overflow: hidden;
  /*border: 1px solid red;*/
  display: block;
}