<div>
  <div class="roomCardContainer" >
    <!-- <app-search [searchedRooms]="allRooms"></app-search> -->
    <div class="topPart">
        <img class="hotelImg" src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      <div class="center">
        <h1>Room number: {{room.roomNum}}</h1>
        <h2>Tier: {{room.tier}}</h2>
        <h3>Number of Beds: {{room.beds}}</h3>
      </div>
    </div>
    <div class="bottomPart">
      <div>Price: {{room.price}}/Night</div>
      <div><button id="reserveButton" class="button" (click)="goToPage('reserve')">Reservation</button></div>
      <div>
        <app-search [searchedRooms]="allRooms"></app-search>
      </div>
    </div>
  </div>
</div>
