

.roomCardContainer{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  border: 2px solid #0088a9;
  /*box-shadow: 0px 15px 200px -20px #8697E0;*/
  box-shadow: 0px 0px 0px 1px #8697e0
}

.roomCardContainer:hover{
  box-shadow: 0px 0px 10px 1px #8697e0;
  width: 610px;
  height: 310px;

}

.topPart{
  display: flex;
  flex-direction: row;
  background-color: #484a56;
  color: white;
}

.center{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  padding-top: 45px;

}

img {
  width: 250px;
  height: 250px;
}

.bottomPart{
  display: flex;
  justify-content: flex-end;

  gap: 30px;
  padding-right: 50px;
  padding-top: 6px;
  height: 45px;
  color: #484a56;
}

.bottomPart div h5{
  padding-top: 5px;
  color: #484a56;
}

.bottomPart button{
  color: #484a56;
  padding: 5px 15px;
}

#reserveButton:hover {
  background-color: #808083;
  cursor: pointer;
  color: rgb(255, 254, 254);
}


h3{
  text-transform: capitalize;
}
