 <div class="container">
    <form class="form" [formGroup]="submitForm" (ngSubmit)="save()">
        <h1>You are Reserving:</h1>
        <p>Room: {{roomNum}}</p>
        <p>Reservation start date: {{startDate}}</p>
        <p>Reservation end date: {{endDate}}</p>
        <h1>Your details</h1> 
        <div class="form-group">
            <label for="firstName">First Name*</label>
        <input
        required
        minlength="3"
        ngModel 
        name="firstName" 
        formControlName="firstName"
        (change)="log(firstName)" 
        id="firstName" 
        type="text" 
        class="form-control">
        <!-- [(ngModel)]="customer.firstName"> -->
        
            <div 
            class="alert alert-danger" 
            *ngIf="firstName?.invalid && firstName?.touched">
                <div *ngIf="firstName?.errors?.['required']">
                    First name is required
                </div>
                <div *ngIf="firstName?.errors?.['minlength']">
                    Minimum {{firstName?.errors?.['minlength'].requiredLength}} characters 
                </div>
            </div>
    </div>
        <div class="form-group">
            <label for="lastName">Last Name*</label>
        <input
        required
        minlength="3"
        ngModel 
        name="lastName" 
        formControlName="lastName" 
        (change)="log(lastName)" 
        id="lastName" 
        type="text" 
        class="form-control">
        <!-- [(ngModel)]="customer.lastName"> -->
        <div 
        class="alert alert-danger" 
        *ngIf="lastName?.invalid && lastName?.touched">
            <div *ngIf="lastName?.errors?.['required']">
                Last name is required
            </div>
            <div *ngIf="lastName?.errors?.['minlength']">
                Minimum {{lastName?.errors?.['minlength'].requiredLength}} characters 
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number*</label>
    <input
    required
    minlength="10"
    ngModel 
    name="phone" 
    formControlName="phone" 
    (change)="log(phone)" 
    id="phone" 
    type="text"
    NumberOnly
    class="form-control">
    <!-- [(ngModel)]="customer.phone"> -->
    <div 
    class="alert alert-danger" 
    *ngIf="phone?.invalid && phone?.touched">
        <div *ngIf="phone?.errors?.['required']">
            Phone number is required
        </div>
        <div *ngIf="phone?.errors?.['minlength']">
            At least {{phone?.errors?.['minlength'].requiredLength}} digits. No special characters allowed
        </div>
    </div>
    </div>
    
    <div class="divButton">
        <button
            id="submitButton" 
            class="btn btn-primary" 
            type="submit" 
            value="Save" 
            [disabled]="submitForm.invalid">
            Submit
    </button>
        <button 
            type="button" 
            class="btn btn-danger" 
            [routerLink]="'/'">Cancel</button>
        </div>
    </form>
</div>