<div class="searchContainer">

  <ngb-alert id="success" #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage =''">{{ successMessage}}
  </ngb-alert>
  <ngb-alert id="cancel" #selfClosingAlert2 *ngIf="cancelMessage" type="cancel" (closed)="cancelMessage =''">{{ cancelMessage}}
  </ngb-alert>
  <ngb-alert id="error" #selfClosingAlert3 *ngIf="errorMessage" type="error" (closed)="errorMessage =''">{{ errorMessage}}
  </ngb-alert>

  <span class="input-form">
    <label for="customerId">Customer ID</label>
    <p-inputNumber [(ngModel)]="id" inputId="customerId" [useGrouping]="false"></p-inputNumber>
    <button class="submitButton" type="submit" name="Submit" (click)="search()">Submit</button>
  </span>

</div>

<div class="tableContainer">
  <h1>Reservations Table</h1>
  <table class="reservationTable">
    <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Room Number</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Costumer ID</th>
      <th>Edit</th>
      <th>Cancel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations; index as i">
      <td>{{reservation.reservationId}}</td>
      <td>{{reservation.roomNum}}</td>
      <td>
        <div *ngIf="editingReservation && editReservationIndex == i; else notShow">
          <p-calendar [(ngModel)]="reservation.startDate" dataType="string" dateFormat="mm-dd-yy" appendTo="body"></p-calendar>
        </div>
        <ng-template #notShow><div>{{reservation.startDate | date}}</div></ng-template>
      </td>
      <td>
        <div *ngIf="editingReservation && editReservationIndex == i; else notShow2">
          <p-calendar [(ngModel)]="reservation.endDate" dataType="string" dateFormat="mm-dd-yy" appendTo="body"></p-calendar>
        </div>
        <ng-template #notShow2><div>{{reservation.endDate | date}}</div></ng-template>
      </td>
      <td>{{reservation.customerId}}</td>
      <td>
        <div *ngIf="editingReservation && editReservationIndex == i; else notShow3"><button class="submitButton" (click)="updateButton(reservation)">Done</button></div>
        <ng-template #notShow3><div><button class="submitButton" (click)="viewButton(i)">Edit</button></div></ng-template>
      </td>
      <td><button class="submitButton" (click)="cancelReservation(reservation.reservationId)">Cancel</button></td>
    </tr>
    </tbody>
  </table>
</div>
