<div class="imageContainer">
  <img class="hotelImg" src="https://images.pexels.com/photos/11335748/pexels-photo-11335748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</div>

<div class="main">
  <div class="formContainer">
    <div class="header">
      <h1>Search for available rooms</h1>
    </div>
      <form (ngSubmit)="search()">
        <section class="firstSection">
          <div class="form-group">
            <label for="tier">Tier: </label>
            <select [(ngModel)]="tier" name="tier" id="tier">
              <option value=""></option>
              <option value="executive">Executive</option>
              <option value="junior">Junior</option>
              <option value="presidential">Presidential</option>
            </select>
          </div>

          <div class="form-group">
            <label for="startDate">Start Date: </label>
            <input [(ngModel)]="startDate" type="date" id="startDate" name="startDate">
          </div>

          <div class="form-group">
            <label for="endDate">End Date: </label>
            <input [(ngModel)]="endDate" type="date" id="endDate" name="endDate">
          </div>
        </section>
        <section class="secondSection">
          <div class="form-group">
            <label for="numberOfBeds">Number of Beds: </label>
            <select [(ngModel)]="numberOfBeds" name="numberOfBeds" id="numberOfBeds">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <div class="form-group">
            <label for="minPrice">Min Price: </label>
            <input [(ngModel)]="minPrice" type="text" id="minPrice" name="minPrice" value="1">
          </div>

          <div class="form-group">
            <label for="maxPrice">Max Price: </label>
            <input [(ngModel)]="maxPrice" type="text" id="maxPrice" name="maxPrice" value="0">
          </div>

          <button class="submitButton" type="submit" name="Submit">Submit</button>
        </section>
      </form>
  </div>
</div>
<br>
<br>
<br>
<div class="roomCardContainer">
  <div *ngFor="let room of searchedRooms">
    <app-room-card [room]="room" [startDate]="startDate" [endDate]="endDate"></app-room-card>
  </div>
</div>

