select {
  background-color: #484a56;
}
input{
  background-color: #484a56;
}
.submitButton{
  background-color: #484a56;
  padding: 2px;
  
  
}
.submitButton:hover {
  background-color: #808083;
  cursor: pointer;
  color: black;
}
