<div>
  <h1>Search for available rooms</h1>
  <ng-form>

    <div class="form-group">
      <label for="tier">Tier: </label>
      <select [(ngModel)]="tier" name="tier" id="tier">
        <option value=""></option>
        <option value="executiveSuite">Executive Suite</option>
        <option value="juniorSuite">Junior Suite</option>
        <option value="presidentialSuite">Presidential Suite</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date: </label>
      <input [(ngModel)]="startDate" type="date" id="startDate" name="startDate">
    </div>

    <div class="form-group">
      <label for="endDate">End Date: </label>
      <input [(ngModel)]="endDate" type="date" id="endDate" name="endDate">
    </div>

    <div class="form-group">
      <label for="numberOfBeds">Number of Beds: </label>
      <select [(ngModel)]="numberOfBeds" name="numberOfBeds" id="numberOfBeds">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
  </div>

    <div class="form-group">
    <label for="minPrice">Min Price: </label>
      <input [(ngModel)]="minPrice" type="number" id="minPrice" name="minPrice" value="1">
    </div>

    <div class="form-group">
      <label for="maxPrice">Max Price: </label>
      <input [(ngModel)]="maxPrice" type="number" id="maxPrice" name="maxPrice" value="0">
    </div>

    <button class="submitButton">Submit </button>

  </ng-form>
</div>
